@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


:root {
  --button-font-color: rgb(0, 6, 114);

  --default-font-size: clamp(0.6rem, 0.8rem, 1rem);

  --button-padding-width: clamp(1rem, 1.2rem, 1.4rem);
  --button-padding-height: clamp(0.6rem, 0.8rem, 1rem);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

html {

  background-color: light-dark(rgb(37, 0, 170), rgb(12, 0, 89));

}

body {

  font-family: monospace, sans-serif;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem;
  margin: 1.5rem;

  border: 0.25rem solid rgb(225, 0, 255);

}


header {

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

}

main{

  display: flex;
  flex-direction: column;
  padding: 3rem;

}

section {

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
  padding: 3rem;
  gap: 5rem;

  border: 0.25rem solid rgb(120, 206, 255);

}


hr {

  width: 85vw; 
  height: 0.2rem; 

  border: none;

  background-color: rgb(173, 111, 255);

}


h1, h2, h3, b {

  font-family: 'Orbitron', monospace, sans-serif;

}

h1 {

  color: rgb(255, 192, 249);
  font-size: calc(var(--default-font-size)*3);
  animation: glowing-text-h1 3s infinite;

}

h2 {

  color: rgb(202, 179, 255);
  font-size: calc(var(--default-font-size)*2);
  animation: glowing-text-h1 3s infinite;
  
}


section, output, p, form, input, textarea {

  font-size: var(--default-font-size);

}

p, form{
  color: rgb(223, 206, 255);
}


a, button {

  font-family: monospace, sans-serif;
  color: var(--button-font-color);
  font-size: var(--default-font-size);
  padding: var(--button-padding-height) var(--button-padding-width);
  border-radius: 0.5rem;

}


a:link, a:visited, a:hover, a:focus, a:active{

  color: inherit;
  text-decoration: none;

}


.nav-button-container {

  display: flex; 
  flex-wrap: wrap; 
  gap: 3rem; 
  padding: 2rem 3rem; 
  
  box-shadow: 0 0 1rem 0.5rem rgb(233, 92, 255);

  a {

    background-color: rgb(237, 190, 255);
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-left: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
  
    animation: glowing-button-nav 3s infinite;

  }

  a:hover {

    color: white;
    background-color: rgb(92, 0, 112);
    box-shadow: 0 0 1rem 0.25rem rgb(221, 0, 255);

    animation: glowing-button-nav-hover 3s infinite;

  }

}

.page-button {

  background-color: rgb(190, 217, 255);
  border-top: 0.1rem solid black;
  border-right: 0.1rem solid black;
  border-left: 0.2rem solid black;
  border-bottom: 0.2rem solid black;

  animation: glowing-button-page 4s infinite;

}

.page-button:hover {

  color: white;
  background-color: rgb(68, 48, 255);
  animation: glowing-button-page-hover 4s infinite;

}


card-button-container{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 3rem;

}

card-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 3rem;

  .card { 

    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem;
    border-radius: 2rem;
    gap: 1rem;

    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;

    color: rgb(71, 0, 134);
    border-top: 0.2rem solid rgb(39, 0, 64);
    border-right: 0.2rem solid rgb(39, 0, 64);
    border-left: 0.4rem solid rgb(39, 0, 64);
    border-bottom: 0.4rem solid rgb(39, 0, 64);
    background-color: rgb(229, 176, 255);


    h3 {

      padding: 1rem;
      color: rgb(91, 0, 95);
      animation: none;

    }

    hr {

      width: 100%; 
      height: 0.15rem; 
      
      border: none;
      background-color: rgb(83, 0, 106);

    }

    ul {

      font-size: var(--default-font-size);

    }
    
    p, b, ul{

      color: rgb(42, 0, 157);

    }

    .project-intro{

      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      gap: 3rem;

    }

    img {

      max-width: 100%;
      width: 10rem;

      padding: 1.5rem;

      border: 0.5rem double rgb(122, 0, 163);

    }

    nav {

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      gap: 1rem;

    }

    a {

      background-color: rgb(190, 217, 255);
      border-top: 0.1rem solid black;
      border-right: 0.1rem solid black;
      border-left: 0.2rem solid black;
      border-bottom: 0.2rem solid black;

    }

    a:hover {

      color: white;
      background-color: rgb(68, 48, 255);

    }

  }

} 


form {

  width: 50vw;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  font-weight: bold;

  gap: 2rem; 
  padding: 4rem; 

  box-shadow: 0 0 1rem 0.5rem rgb(221, 0, 255);

  form-field {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

  }

  select {

    padding: 0.5rem;
    width: 50%;
    text-align: center;
    font-family: monospace, sans-serif;

    background-color: rgb(204, 223, 255);
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;

  }

  input{

    width: 100%;
    font-family: monospace, sans-serif;
    padding: 0.5rem;

    background-color: rgb(201, 232, 255);
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;

  }

  textarea{

    width: 85%; 
    height: 7rem; 
    align-self: center;

    padding: 0.5rem;
    font-family: monospace, sans-serif;

    background-color: rgb(201, 232, 255);
    border-bottom: 0.2rem solid black;
    border-left: 0.2rem solid black;
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;

  }

  button-container {

    width: 100%; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 2rem;

    button-inner-container {

      width: 100%; 
      display: flex; 
      flex-direction: column; 
      align-items: center; 
      gap: 0.5rem;

    }

  }

  button-controls-container {

    display: flex; 
    flex-direction: row; 
    gap: 1.5rem;

  }

  input:valid, textarea:valid{

    border: 0.15rem dashed rgb(43, 255, 0);
    background-color: rgb(209, 255, 214);

  }

  input:user-invalid, textarea:user-invalid{

    border: 0.15rem dashed red;
    background-color: rgb(255, 209, 209);    

  }

  output {

    font-weight: normal;
    font-size: calc(var(--default-font-size)*0.8);
    color:rgb(215, 186, 253);

  }


  .form-submit-button{

    color: var(--button-font-color);
    font-size: var(--default-font-size);
    padding: var(--button-padding-height) var(--button-padding-width);
    border-radius: 0.5rem;

    background-color: rgb(235, 148, 255);
    border-top: 0.1rem solid black;
    border-right: 0.1rem solid black;
    border-left: 0.25rem solid black;
    border-bottom: 0.25rem solid black;

    animation: glowing-button-nav 3s infinite;

  }

  .form-submit-button:hover{

    color: white;
    background-color: rgb(144, 0, 193);

    animation: glowing-button-nav-hover 3s infinite;

  }

}

@media (max-width: 1200px) and (pointer: fine) {

  section {

    margin-top: 1rem;
    padding: 1.5rem;
    gap: 2rem;

    border: none;

  }

  a, button {

    border-radius: 0.4rem;

  }

  .nav-button-container {

    flex-direction: column;
    gap: 2rem; 

    box-shadow: 0 0 1rem 0.4rem rgb(233, 92, 255);

  }

  card-container{

    .card {

      width: 60vw;

      .project-intro{

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

      }

      img {

        width: 10rem;

      }

      nav {

        flex-direction: column;

        gap: 0.5rem;

      }

    }

  }

}


@media (max-width: 1200px) and (pointer: coarse){

  :root {

    --default-font-size: clamp(1.3rem, 1rem, 1.7rem);

    --button-padding-width: clamp(1.6rem, 1.8rem, 2rem);
    --button-padding-height: clamp(1.3rem, 1.5rem, 1.7rem);
  
  }

  section {

    margin-top: 1rem;
    padding: 1.5rem;
    gap: 2rem;

    border: none;

  }

  a, button {

    border-radius: 0.4rem;

  }

  .nav-button-container {

    flex-direction: column;
    gap: 2rem; 

    box-shadow: 0 0 1rem 0.4rem rgb(233, 92, 255);

  }

  card-container{

    .card {

      width: 80vw;
      padding: 5rem;

      .project-intro{

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

      }

      img {

        width: 10rem;

      }

      nav {

        flex-direction: column;

        gap: 0.5rem;

      }

    }

  }

  form {

    width: 75vw;
    box-shadow: 0 0 1rem 0.4rem rgb(221, 0, 255);
    gap: 5rem;

    select {

      width: 80%;
      
    }

    .form-submit-button{

      border-radius: 0.4rem;

    }

    form-field {

      display: flex;
      flex-direction: column;
      gap: 0.75rem;

    }

    input{

      padding: 1rem;

    }

    textarea{

      height: 10rem; 

      padding: 1rem;
    }

  }

}






@media (max-width: 900px) and (pointer: fine){

  :root {

    --button-padding-width: clamp(1.3rem, 1.5rem, 1.7rem);
    --button-padding-height: clamp(0.8rem, 1rem, 1.2rem);

  }


  form {

    width: 75vw;
    box-shadow: 0 0 0.5rem 0.25rem rgb(163, 65, 255);

    select {

      width: 80%;
      
    }

    .form-submit-button{

      border-radius: 0.4rem;

    }

    form-field {

      display: flex;
      flex-direction: column;
      gap: 0.75rem;

    }

    input{

      padding: 1rem;

    }

    textarea{

      height: 10rem; 

      padding: 1rem;
    }

  }

}



@media (max-width: 900px) and (pointer: coarse){

  :root {

    --default-font-size: clamp(1.1rem, 1.3rem, 1.5rem);

    --button-padding-width: clamp(2.2rem, 2.4rem, 2.6rem);
    --button-padding-height: clamp(1.8rem, 2rem, 2.2rem);

  }

  card-container{

    .card {

      gap: 2.5rem;

      nav {

        gap: 3rem;
      }
      
    }

  }


  form {

    box-shadow: 0 0 0.5rem 0.25rem rgb(163, 65, 255);
    gap: 3rem;

  }

}




@keyframes glowing-button-page {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(0, 208, 255),  
      0 0 1.25rem 0.25rem rgb(0, 174, 255),    
      0 0 2.1875rem 0.375rem rgb(0, 110, 255);  
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(0, 208, 255, 0.49),  
      0 0 1.25rem 0.25rem rgba(0, 174, 255, 0.48),    
      0 0 2.1875rem 0.375rem rgba(0, 110, 255, 0.424);  
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(0, 208, 255),  
      0 0 1.25rem 0.25rem rgb(0, 174, 255),    
      0 0 2.1875rem 0.375rem rgb(0, 110, 255);  
  }
}

@keyframes glowing-button-page-hover {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(0, 153, 255),  
      0 0 1.25rem 0.25rem rgb(0, 94, 255),    
      0 0 2.1875rem 0.375rem rgb(0, 30, 255);  
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(0, 153, 255, 0.455),  
      0 0 1.25rem 0.25rem rgba(0, 94, 255, 0.451),    
      0 0 2.1875rem 0.375rem rgba(0, 30, 255, 0.448);  
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(0, 153, 255),  
      0 0 1.25rem 0.25rem rgb(0, 94, 255),    
      0 0 2.1875rem 0.375rem rgb(0, 30, 255);  
  }
}

@keyframes glowing-button-nav {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(244, 124, 255),  
      0 0 1.25rem 0.25rem rgb(187, 77, 255),    
      0 0 2.1875rem 0.375rem rgb(132, 75, 255);   
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(244, 124, 255, 0.47),  
      0 0 1.25rem 0.25rem rgba(187, 77, 255, 0.491),    
      0 0 2.1875rem 0.375rem rgba(132, 75, 255, 0.496);  
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(244, 124, 255),  
      0 0 1.25rem 0.25rem rgb(187, 77, 255),    
      0 0 2.1875rem 0.375rem rgb(132, 75, 255);  
  }
}

@keyframes glowing-button-nav-hover {
  0% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgb(154, 0, 168),  
      0 0 1.25rem 0.25rem rgb(98, 0, 158),    
      0 0 2.1875rem 0.375rem rgb(48, 0, 152);   
  }
  50% {
    box-shadow: 
      0 0 0.625rem 0.125rem rgba(154, 0, 168, 0.482),  
      0 0 1.25rem 0.25rem rgba(98, 0, 158, 0.468),    
      0 0 2.1875rem 0.375rem rgba(48, 0, 152, 0.417);   
  }
  100% {
    box-shadow:
      0 0 0.625rem 0.125rem rgb(154, 0, 168),  
      0 0 1.25rem 0.25rem rgb(98, 0, 158),    
      0 0 2.1875rem 0.375rem rgb(48, 0, 152);   
  }
}




@keyframes glowing-text-h1 {
  0% {
    text-shadow:
      0 0 1.5rem rgb(240, 32, 255),
      0 0 2rem rgb(180, 42, 255),
      0 0 2.5rem rgb(33, 37, 255);
  }
  50% {
    text-shadow:
      0 0 1.5rem rgba(240, 32, 255, 0.4),
      0 0 2rem rgba(180, 42, 255, 0.4),
      0 0 2.5rem rgba(33, 37, 255, 0.4);
  }
  100% {
    text-shadow:
      0 0 1.5rem rgb(240, 32, 255),
      0 0 2rem rgb(180, 42, 255),
      0 0 2.5rem rgb(33, 37, 255);
  }
}


@keyframes glowing-text-h2 {
  0% {
    text-shadow:
      0 0 1.5rem rgb(166, 71, 255),
      0 0 2rem rgb(136, 57, 255),
      0 0 2.5rem rgb(54, 57, 255);
  }
  50% {
    text-shadow:
      0 0 1.5rem rgba(166, 71, 255, 0.467),
      0 0 2rem rgba(136, 57, 255, 0.485),
      0 0 2.5rem rgba(54, 57, 255, 0.461);
  }
  100% {
    text-shadow:
      0 0 1.5rem rgb(166, 71, 255),
      0 0 2rem rgb(136, 57, 255),
      0 0 2.5rem rgb(54, 57, 255);
  }
}



@keyframes glowing-text-h3 {
  0% {
    text-shadow:
      0 0 1.5rem rgb(59, 222, 255),
      0 0 2rem rgb(74, 150, 255),
      0 0 2.5rem rgb(72, 118, 255);
  }
  50% {
    text-shadow:
      0 0 1.5rem rgba(59, 222, 255, 0.457),
      0 0 2rem rgba(74, 149, 255, 0.424),
      0 0 2.5rem rgba(72, 118, 255, 0.432);
  }
  100% {
    text-shadow:
      0 0 1.5rem rgb(59, 222, 255),
      0 0 2rem rgb(74, 150, 255),
      0 0 2.5rem rgb(72, 118, 255);
  }
}

@keyframes flash {
  to { background-color: rgb(255, 117, 117); }
}